---
import SeoHead from "../../templates/astro-seo/SeoHead.astro";
import ResponsivePicture from "../../templates/astro-assets/ResponsivePicture.astro";

const templates = [SeoHead, ResponsivePicture];
void templates;
---

<p hidden>Reusable Astro templates compile.</p>
